main > .container {
    padding: 100px 0px 0;
    max-width: 100%;
}

/*main {*/
/*    font-family: cursive;*/
/*}*/

#mem-btn {
    display: none;
}

._4em {
    font-size: 4em;
}

._3em {
    font-size: 2.2em;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    height: 44px;
    font-size: 1.4em;
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 12px;
    margin: 0px 0px 0px 20px;
    cursor: pointer;
}

.main-color {
    color: blanchedalmond !important;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background: #333;
    color: blanchedalmond;
}

label > input {
    visibility: hidden;
    position: absolute;
}

label > input + img {
    cursor: pointer;
    border: 10px solid transparent;
    transition: all 0.75s ease 0s;
}

label > input:checked + img {
    border: 10px solid blanchedalmond;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-button {
    height: 44px;
    font-size: 1.4em;
    margin: 0px 0px 0px 20px;
    border-radius: 5px;
    background: #333;
    border: 2px solid blanchedalmond;
    color: blanchedalmond;
    transition: 0.3s;
}
.up-margin {
    margin: 30px 0px 0px 0px;
}
.left-margin {
    margin: 0px 30px 0px 0px;
}
.right-margin {
    margin: 0px 0px 0px 30px;
}

.search-button:hover {
    background: blanchedalmond;
    color: #333;
    transition: 0.3s;
    transition-delay: 0.3s;
}

.tags-text {
    width: 60%;
    height: 44px;
    border-radius: 8px;
    font-size: 1.6em;
    background: blanchedalmond;
    color: #333;
    outline: none;
    transition: all 0.5s ease 0s;
}

.error-info {
    background:lightcoral;
    color:crimson;
    text-align: center;
    margin: 0px 20px;
    padding: 0px 5px;
    border-radius: 5px;
}

.error-info > h6 {
    margin: 5px !important;
}

.mem-pic {
    height: 300px;
    margin: 20px;
    box-shadow: 0 0 6.5px blanchedalmond;
}

.templ-pic {
    margin: 20px 30px;
}

.tags-text:focus {
    box-shadow: 0 0 10px blanchedalmond;
}

.tags-text._error {
    box-shadow: 0 0 10px red;
}

.margin__15px {
    margin: 15px;
}

#mem-search, #mem-info, #file-upload{
    /* display: none; */
}
