{% extends 'incl/base.html' %}
{% load static %}

{% block content %}
<div class="center" id="hello-text">
    <h1 class="_4em">Let's search some memes?</h1> 
    {% comment %} <button class="search-button" onclick="viewDiv()">Sure!</button> {% endcomment %}
</div>
<br>

<form action="#" id="form" name="form" class="form__body">
    <div id="mem-search">
        <h3 class="center _3em">Write here some information to help us find your meme</h3> 
        <div class="center margin__15px">
            <input type="text" name="info" id="tags-text" class="tags-text _req" placeholder="describe your mem">
            <button type="submit" class="search-button">search</button> 
        </div>
    </div>
</form> 
<div id="mem-info"></div>
<div id="mem-btn" class="center">
    <button id="mem-select-all" class="search-button left-margin select-all">select all</button>
    <h3 class="">Ready to upload?</h3>
    <a href="#" download="">
        <button class="search-button">upload</button>
    </a>
</div>
{% endblock content %}
 